.homeContainer {
  background-color: #ed4c8b;
}

.coinContainer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.btn {
  background-color: #e94b89;
  border: none;
  padding: 3rem 2rem;
}

.btn:nth-child(4n + 2),
.btn:nth-child(4n + 3) {
  background-color: #ce4277;
}

.span {
  margin-top: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
